{% extends "base.html.twig" %}

{% block title %} Movies Page {% endblock %}

{% block body %}

    {% if movies %}

        {% for movie in movies %}
            <li> {{ movie }} </li>
        {% endfor %}
        
    {% else %}
        <h3>No movies to show</h3>
    {% endif %}

{% endblock %}